body{
	margin:0;
	padding: 0;
	background: radial-gradient(50%  100% ,   white,orange );
	background-size: cover;
	font-family: sans-serif;
	height: 100vh;
	
}
nav {
	
	height: 65px;
	box-shadow: 1px 2px 1px rgba(0.0.0.5);

}
#lista{	
	
	margin-left: 10px;
	border-radius: 25px 5%;	
	color:black;
	font-size: 16px;
	font-weight: bold;
}


#lista:hover{
	background-color: orange;
	width: 150px;
	margin-top: 2px;
	text-align: center;
	
	
}

.login-box{
	width: 320px;
	height: 420px;
	background:#000;
	color:#fff;
	top:50%;
	left: 50%;
	position: absolute;
	transform:translate(-50% , -50%);
	box-sizing: border-box;
	padding: 70px 30px; 
	margin-top: 65px;
	border-radius: 10px ;
}
.login-box .avatares{
	height: 100px;
	width: 100px;	
	top: -50px;
	left:35% ;
	border-radius: 60px;
	position: absolute;
}

.login-box h1{
	margin:0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
}
.login-box label{
	margin:0;
	padding: 0;
	font-weight: bold;
	display: block; 
}
.login-box input{
	width: 100%;
	margin-bottom: 20px;
}
.login-box input[type="text"],
.login-box input[type="password"]{
	border:none;
	border-bottom: 1px solid white;
	background:transparent; 
	outline: none;
	height: 40px;
	color: #fff;
	font-size:16px; 

}
.login-box input[type="submit"]{
	border:none;
	outline: none;
	height: 40px;
	background:#b80f22; 
	color:white;
	font-size: 18px;
	border-radius: 20px;
	
}
.login-box a{
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	color:darkgray;

}
.login-box a:hover{
	color:#fff;