body{
	font-family: arial;		 
	background: radial-gradient(50% 100% , red, orange, white ); 	
}
img{
	border: 0;
	line-height: 0;
}
h1{
font-family: arial;
width: 50px;
text-decoration:;
text-decoration-line:none;
text-shadow:10 10 10 black;

}
h2{

}
h3{


}